<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Delete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        @font-face {
            font-family: 'OTWelcomeRA';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'OTWelcomeRA', fantasy;
        }

        body {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Delete [[${student.name}]]?</h1>
    <form th:action="@{/students/{id}/delete (id=${student.id})}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a th:href="@{/students/{id} (id=${student.id})}" class="btn btn-secondary mt-3">Back</a>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
